<!-- Banner -->
  <section id="banner">
            <div class="row" style="text-align: right">
        <div class="4u">
                    <img src="images/face.jpg" alt="My Cartoon Face" style="width:200px; height:200px; border-radius:100px">
                </div>
                <div class="6u" style="text-align: left; vertical-align: middle">
                    <h2 style="font-weight: 900">PatricKnowlan</h2>
                    <h3 style="font-weight: bold">Technology Consultant, Web Developer, Grad Student</h3>
                    <h4 style="font-weight: bold">Trying my best to figure things out one day at a time.</h4>
                </div>
            </div>
  </section>
