<!-- Banner -->
<section id="banner">
  <div class="row" style="text-align: right">
    <div class="4u">
      <img src="images/face.jpg" alt="My Cartoon Face" style="width:200px; height:200px; border-radius:100px">
    </div>
    <div class="6u" style="text-align: left; vertical-align: middle">
      <h2 style="font-weight: 900">PatricKnowlan</h2>
      <h4 style="font-weight: bold">Tech Consultant, Web Developer, Perpetual Student</h4>
      <h5>If you are the smartest person in the room, then you are in the wrong room</h5>
    </div>
  </div>
</section>
