<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="">

    {% include header.html %}

    <section id="main" class="container">
      <header>
        <h2>BLOG COMING SOON!</h2>
      </header>
      <div class="row">
        <div class="12u">
                {{ content }}
        </div>
      </div>


        </section>


    <!-- <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </section> -->


    {% include footer.html %}

  </body>

</html>
