<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="landing">

    {% include header.html %}
    {% include banner.html %}

		<section id="main" class="container">
      <section class="box special">
        <header class="major">
          <h2>So you want to know little more about me.
          <br />
          Ok, here are things I like.</h2>
          <p>Hiking, Movies, Learning, Sandwiches, Boating, Android, Fishing, Roadtrips, Cooking, Fitness, Camping, Industrial Settings, Adventures, Grey, Biking, Craft Beer, Coffee, People, National Parks, New Technology</p>
        </header>
        <span class="image featured"><img src="images/me.png" alt="" /></span>
      </section>

      <section class="box special features">
        <div class="features-row">
          <section>
            <span class="icon major fa-briefcase accent2"></span>
            <h3>Work</h3>
            <p>I work for a small tech startup called 540 where I help the government use cutting edge technology. We specialize in building APIs and Apps.</p>
          </section>
          <section>
            <span class="icon major fa-gamepad accent3"></span>
            <h3>Play</h3>
            <p>I like to be outdoors in my spare time. On my boat in the summer and skiing in the winter. I keep myself busy with fun adventures and activities.</p>
          </section>
        </div>
        <div class="features-row">
          <section>
            <span class="icon major fa-university accent4"></span>
            <h3>Learn</h3>
            <p>I studied Integrated Science & Technology at JMU for my Bachelors and am currently persuing a Cyber Security Masters at GWU. </p>
          </section>
          <section>
            <span class="icon major fa-cloud accent5"></span>
            <h3>Dream</h3>
            <p>I want to make a difference. I will accomplish that by building a revolutionary product. What the product is.... I just haven't thought of it yet!.</p>
          </section>
                  </div>
                  <div class="row" style="text-align:center">
                      <section>
            <span class="icon major fa-code accent6"></span>
            <h3>Create</h3>
            <p>I like to build things. Here are a couple projects I am currently working on. My main interestes in tech are home automation, mobile devices, internet of things, and security. I would love to build APIs for household appliances.</p>
          </section>
                  </div>
      </section>
      <div class="row">
        <div class="6u">
          <section class="box special">
            <span class="image featured"><img src="images/jmu.png" alt="" /></span>
            <h3>JMU.io</h3>
            <p>James Madison University campus information available via public APIs so that students, faculty, really anyone can easily develop university related apps without having to worry about maintaing the data.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Under Construction</a></li>
            </ul>
          </section>

        </div>
        <div class="6u">

          <section class="box special">
            <span class="image featured"><img src="images/roadtrip.jpg" alt="" /></span>
            <h3>Road Trip 2012</h3>
            <p>This was one of the greatest adventures of my life. Along the way I built a quick website to document my travels. Only regret was that I didn't take enough pictures along the way! Hope I can do it again some day.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Coming Soon</a></li>
            </ul>
          </section>

        </div>
      </div>
    </section>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- CTA -->
			<section id="cta">

				<h2>Thanks for checking out the site.</h2>
				<p>I'm sure there will be more to come soon. Stay tuned for the future updates and adventures.</p>

			</section>

    {% include footer.html %}

  </body>

</html>
