<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

<section id="main" class="container">
<div class="post">

<div class="row">
  <div class="col-md-2">
    <img src="{{ "/images/face.jpg" }}" alt="My Cartoon Face" style="width:75px; height:75px; border-radius:100px">
</div>
  <div class="post-header col-md-10">
    <h3 class="post-title">{{ page.title }}</h3>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </div>

</div>
  <article class="post-content">
    {{ content }}
  </article>

</div>
</section>


    {% include footer.html %}

  </body>

</html>
